{
    "swagger": "2.0",
    "info": {
        "title": "PayApp",
        "description": "PayApp Payroll System",
        "version": "1.0.0"
    },
    "host": "api.mytommy.com",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/api/v1",
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "HTTP Basic Authentication. Works over `HTTP` and `HTTPS`"
        },
        "api_key": {
            "type": "apiKey",
            "name": "api_key",
            "in": "header"
        },
        "petstore_auth": {
          "type": "oauth2",
          "authorizationUrl": "http://swagger.io/api/oauth/dialog",
          "flow": "implicit",
          "scopes": {
            "write:pets": "modify pets in your account",
            "read:pets": "read your pets"
          }
        }
    },
    "produces": [
        "application/json"
    ],
    "paths": {
        "/user/accounts": {
            "get": {
                "summary": "List of Accounts including Team(s)",
                "description": "Returns different accounts with its type (user, own team, other team) *Page 3_Account (part1)\n",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "An array of accounts",
                        "examples": {
                            "application/json": {
                                "name": "Puma",
                                "type": "Dog",
                                "color": "Black",
                                "gender": "Female",
                                "breed": "Mixed"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "The number of allowed requests in the current period",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "The number of remaining requests in the current period",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "The number of seconds left in the current period",
                                "type": "integer"
                            }
                        },
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Accounts"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team/{team_id}": {
            "get": {
                "summary": "Team Own Profile",
                "description": "Team profile. \n*Pages 3_Account_TeamProfile p1, 3_Account_TeamProfile p2\n",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique team identifier to be used for fetching specific team profile data."
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Profile information for an team",
                        "schema": {
                            "$ref": "#/definitions/TeamOwnProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Team Data",
                "description": "This updates individual or group of team's records\n*Pages 3_Account_TeamProfile_*\n",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique team identifier to be used for fetching specific team profile data."
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "Unique team identifier to be used for fetching specific team profile data.",
                        "schema": {
                            "$ref": "#/definitions/TeamOwnProfile"
                        }
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Team update success"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team/team_members/listbylocation/{team_id}/{location_id}": {
            "get": {
                "summary": "Team TeamMember List by Location",
                "description": "List all team_members under the team's location\n",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique team identifier to be used for fetching specific team profile data."
                    },
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "TeamMembers",
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "List of team_members profile",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team/team_members": {
            "get": {
                "summary": "Team TeamMember List",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Unique team identifier to be used for fetching specific team profile data."
                    }
                ],
                "tags": [
                    "TeamMembers"
                ],
                "responses": {
                    "200": {
                        "description": "List of team_members profile",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/{team_member_id}": {
            "get": {
                "summary": "TeamMember Profile",
                "description": "E_TeamMember-Profile (part1)\n",
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "TeamMember"
                ],
                "responses": {
                    "200": {
                        "description": "team_member profile",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/unavailability/{team_member_id}/{date_start}/{date_end}": {
            "get": {
                "summary": "TeamMember Profile Availability",
                "description": "E_TeamMember-Profile_Availability (Calendar View - date clicked)\n",
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date_start",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "TeamMember"
                ],
                "responses": {
                    "200": {
                        "description": "team_member unavailability within the current selecte date range",
                        "schema": {
                            "$ref": "#/definitions/Unavailability"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/unavailability": {
            "post": {
                "summary": "Add TeamMember Unavailability",
                "description": "E_TeamMember-Profile_Availability (Calendar View - date clicked)\n",
                "tags": [
                    "Unavailability"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts unavailability form data.",
                        "schema": {
                            "$ref": "#/definitions/Unavailability"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unavailability added successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/unavailability/{team_member_unavailability_id}": {
            "delete": {
                "summary": "Delete TeamMember Unavailability",
                "description": "E_TeamMember-Profile_Availability_Edit (Delete confirmation)\n",
                "tags": [
                    "Unavailability"
                ],
                "parameters": [
                    {
                        "name": "team_member_unavailability_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unavailability deleted successfully"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/shift/{team_member_id}/{date_start}/{date_end}": {
            "get": {
                "summary": "TeamMember Profile Shifts",
                "description": "E_TeamMember-Profile_Shifts (calendar view – clicked)\nE_TeamMember-Profile_Shifts (List View)\n",
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date_start",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "TeamMember"
                ],
                "responses": {
                    "200": {
                        "description": "team_member shifts within the current selecte date range",
                        "schema": {
                            "$ref": "#/definitions/TeamMemberShifts"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team/shiftbylocation/calendar/{team_id}/{location_id}/{date_start}/{date_end}": {
            "get": {
                "summary": "Employe Shifts",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date_start",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "team shifts count within the current selecte date range",
                        "schema": {
                            "$ref": "#/definitions/TeamShiftsMonth"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team/shiftbylocation/list/{team_id}/{location_id}/{date_start}/{date_end}": {
            "get": {
                "summary": "Employe Shifts",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "date_start",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "date_end",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "team shifts count within the current selecte date range",
                        "schema": {
                            "$ref": "#/definitions/TeamShifts"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift/publish": {
            "put": {
                "summary": "Publish Team Shifts",
                "parameters": [
                    {
                        "name": "team_shift_id",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "shift published"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift/{team_shift_id}": {
            "put": {
                "summary": "Team Shift Update",
                "parameters": [
                    {
                        "name": "team_shift_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts shift form data.",
                        "schema": {
                            "$ref": "#/definitions/TeamShifts"
                        }
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "shift details updated"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift": {
            "post": {
                "summary": "Add Team Shift",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts shift form data.",
                        "schema": {
                            "$ref": "#/definitions/TeamShifts"
                        }
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "shift added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/shift/{team_member_id}": {
            "get": {
                "summary": "TeamMember Shift",
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "shift added",
                        "schema": {
                            "$ref": "#/definitions/TeamMemberShift"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift/scheduled/{team_shift_id}": {
            "get": {
                "summary": "List TeamMembers Scheduled on this Shift",
                "parameters": [
                    {
                        "name": "team_shift_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "list of team_members",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift/add/team_member/{team_shift_id}": {
            "post": {
                "summary": "Add team_member on shift",
                "parameters": [
                    {
                        "name": "team_shift_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "team_member_id",
                        "in": "query",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "add team_member to shift"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/shift/team_member/{team_shift_assigned_id}/": {
            "delete": {
                "summary": "Remove team_member on shift",
                "parameters": [
                    {
                        "name": "team_shift_assigned_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Shift"
                ],
                "responses": {
                    "200": {
                        "description": "team_member removed"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/user/team/team_member-profile/{location_id}": {
            "get": {
                "summary": "Team Own Profile",
                "description": "List all team_members under the team's location\n",
                "parameters": [
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "TeamMembers",
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "List of team_members profile",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/user": {
            "put": {
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "summary": "Update User Data",
                "description": "This updates individual or group of user's records\n*Pages 3_Account_TeamProfile_*\n",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts any users data to be updated.",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "User update success"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/user/password": {
            "put": {
                "summary": "Update User Data",
                "description": "This updates individual or group of user's records\n*Pages 3_Account_TeamProfile_*\n",
                "parameters": [
                    {
                        "name": "new_password",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "New password"
                    },
                    {
                        "name": "old_password",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Old password"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "User password updated"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "get": {
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Will send `Authenticated` if authentication is succesful, otherwise it will send `Unauthorized`"
                    },
                    "400": {
                        "description": "Invalid username/password supplied"
                    }
                }
            }
        },
        "/team_member/accept-team/{team_id}": {
            "get": {
                "summary": "Accept Team",
                "description": "4_Messages_ChatWindow_EmploymentOffer_Reject(confirm)\n4_Messages_ChatWindow_EmploymentOffer_Accept(confirm)\n",
                "parameters": [
                    {
                        "name": "team_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Team ID"
                    },
                    {
                        "name": "response",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Either Accept or Reject"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "User's accepted",
                        "schema": {
                            "$ref": "#/definitions/UserProfile"
                        }
                    },
                    "400": {
                        "description": "Invalid email/password supplied"
                    }
                }
            }
        },
        "/user/logout": {
            "get": {
                "summary": "logout user",
                "description": "Logs out current logged in user session\n*Page 3_Account (part3)\n",
                "tags": [
                    "User"
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/industry": {
            "get": {
                "summary": "List all industries",
                "description": "fetch industries, used in select/list\n*Page 3_Account_TeamProfile (Industry select)\n",
                "tags": [
                    "Industry"
                ],
                "responses": {
                    "200": {
                        "description": "Industry Lists",
                        "schema": {
                            "$ref": "#/definitions/Industries"
                        }
                    }
                }
            }
        },
        "/documents": {
            "post": {
                "summary": "Add new document",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts document data to be added.",
                        "schema": {
                            "$ref": "#/definitions/Documents"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document successfully added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/documents/{document_id}": {
            "put": {
                "summary": "Edit document",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Document ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "description": "accepts document data to be edited.",
                        "schema": {
                            "type": "array",
                            "$ref": "#/definitions/Documents"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document successfully updated",
                        "schema": {
                            "$ref": "#/definitions/Documents"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/document-pages/{document_id}": {
            "get": {
                "summary": "List document page",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Document ID"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Document Page List",
                        "schema": {
                            "$ref": "#/definitions/DocumentPages"
                        }
                    }
                }
            }
        },
        "/document/shared": {
            "get": {
                "summary": "List document shared",
                "tags": [
                    "Documents"
                ],
                "responses": {
                    "default": {
                        "description": "Document Page List",
                        "schema": {
                            "$ref": "#/definitions/DocumentShared"
                        }
                    }
                }
            }
        },
        "/document/share/{document_id}": {
            "delete": {
                "summary": "Remove team to document share",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Document ID"
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Team ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document unshared successful"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/documents/shared/{team_member_id}": {
            "get": {
                "summary": "List all team_member's documents",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "TeamMember ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember document lists",
                        "schema": {
                            "$ref": "#/definitions/Documents"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/document/shared/{document_id}": {
            "get": {
                "summary": "TeamMember's document Details",
                "tags": [
                    "Documents"
                ],
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "TeamMember ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember document details",
                        "schema": {
                            "$ref": "#/definitions/Documents"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/locations/{team_member_id}": {
            "post": {
                "summary": "TeamMember's list of locations",
                "tags": [
                    "Locations"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts locations page data to be added.",
                        "schema": {
                            "$ref": "#/definitions/Locations"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember location added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/location/{team_member_location_id}": {
            "delete": {
                "summary": "remove location from team_member",
                "tags": [
                    "Locations"
                ],
                "parameters": [
                    {
                        "name": "team_member_location_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember Location ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully remove team_members locations"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/notes/{team_member_id}": {
            "post": {
                "summary": "Add TeamMember's notes",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts noted page data to be added.",
                        "schema": {
                            "$ref": "#/definitions/Note"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember notes added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/note/{team_member_notes_id}": {
            "delete": {
                "summary": "Delte team_member's note",
                "tags": [
                    "Notes"
                ],
                "parameters": [
                    {
                        "name": "team_member_notes_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "Note ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember note deleted"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/roles/{team_member_id}": {
            "get": {
                "summary": "TeamMember Role List",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role list",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/role": {
            "post": {
                "summary": "Add TeamMember Role",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts role page data to be added.",
                        "schema": {
                            "$ref": "#/definitions/Role"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/role/{team_member_role_id}": {
            "get": {
                "summary": "Get TeamMember Role Details",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_role_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember Role ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role details",
                        "schema": {
                            "$ref": "#/definitions/RoleDetails"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/role/variation/{team_member_role_variation_id}": {
            "get": {
                "summary": "Get TeamMember Role Variation Details",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_role_variation_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember Role Variation ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role variation details",
                        "schema": {
                            "$ref": "#/definitions/RoleVariation"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/role/variation": {
            "post": {
                "summary": "Add TeamMember Role Variation",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember Role Variation ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts variation page data to be added.",
                        "schema": {
                            "$ref": "#/definitions/RoleVariation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role variation added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/team_member/role/variations/{team_member_role_id}": {
            "get": {
                "summary": "Get TeamMember Role Variation List",
                "tags": [
                    "Role"
                ],
                "parameters": [
                    {
                        "name": "team_member_role_id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "description": "TeamMember Role ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "TeamMember role details",
                        "schema": {
                            "$ref": "#/definitions/RoleVariation"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/user/bank": {
            "get": {
                "summary": "List All User Bank",
                "tags": [
                    "Bank"
                ],
                "responses": {
                    "default": {
                        "description": "User Banks List",
                        "schema": {
                            "$ref": "#/definitions/UserBank"
                        }
                    }
                }
            }
        },
        "/user/bank/{user_bank_id}": {
            "get": {
                "summary": "Get User Bank",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "user_bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "User Bank ID"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "User Bank Details",
                        "schema": {
                            "$ref": "#/definitions/UserBank"
                        }
                    }
                }
            }
        },
        "/bank": {
            "get": {
                "summary": "List All Bank",
                "tags": [
                    "Bank"
                ],
                "responses": {
                    "default": {
                        "description": "Banks List",
                        "schema": {
                            "$ref": "#/definitions/Bank"
                        }
                    }
                }
            }
        },
        "/user/bank/allotment/{user_bank_id}": {
            "post": {
                "summary": "Add User Bank Allotment",
                "tags": [
                    "Bank"
                ],
                "parameters": [
                    {
                        "name": "user_bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "User Bank ID"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "description": "accepts user bank allotment data to be added.",
                        "schema": {
                            "$ref": "#/definitions/BankAllotment"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Bank Allotment successfully added"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/superfund": {
            "get": {
                "summary": "List All Superfund",
                "tags": [
                    "SuperFund"
                ],
                "responses": {
                    "default": {
                        "description": "SuportFund List",
                        "schema": {
                            "$ref": "#/definitions/SuperFund"
                        }
                    }
                }
            }
        },
        "/user/superfund": {
            "get": {
                "summary": "List All User SuperFund",
                "tags": [
                    "SuperFund"
                ],
                "responses": {
                    "default": {
                        "description": "List User superfund",
                        "schema": {
                            "$ref": "#/definitions/UserSuperFund"
                        }
                    }
                }
            }
        },
        "/user/superfund/{user_supperfund_id}": {
            "get": {
                "summary": "GetUser SuperFund Details",
                "tags": [
                    "SuperFund"
                ],
                "parameters": [
                    {
                        "name": "user_supperfund_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "User SuperFund ID"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "User superfund details",
                        "schema": {
                            "$ref": "#/definitions/UserSuperFund"
                        }
                    }
                }
            }
        },
        "/user/superfund/team/{user_supperfund_id}": {
            "get": {
                "summary": "List All Team with SuperFund",
                "tags": [
                    "SuperFund"
                ],
                "parameters": [
                    {
                        "name": "user_supperfund_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "User SuperFund ID"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "List Team with superfund",
                        "schema": {
                            "$ref": "#/definitions/UserTeamSuperFund"
                        }
                    }
                }
            }
        },
        "/user/superfund/team/remove/{user_supperfund_id}": {
            "post": {
                "summary": "Remove User Team SupportFund",
                "tags": [
                    "SuperFund"
                ],
                "parameters": [
                    {
                        "name": "user_supperfund_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "User SuperFund ID"
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "description": "Team ID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User Team SuperFund successfully remove"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/pay-approval-options": {
            "get": {
                "summary": "List all Pay approval options",
                "description": "used in select/list\n*Page 3_Account_TeamProfile_PayRun (Approval Day Frequency select)\n",
                "tags": [
                    "Payroll"
                ],
                "responses": {
                    "200": {
                        "description": "Pay Approval Options List",
                        "schema": {
                            "$ref": "#/definitions/PayrollApprovalOptions"
                        }
                    }
                }
            }
        },
        "/pay-interval-options": {
            "get": {
                "summary": "List all Pay interval options",
                "description": "used in select/list\n*Page 3_Account_TeamProfile_PayRun (Interval select)\n",
                "tags": [
                    "Payroll"
                ],
                "responses": {
                    "200": {
                        "description": "Pay Interval Options List",
                        "schema": {
                            "$ref": "#/definitions/PayrollIntervalOptions"
                        }
                    }
                }
            }
        },
        "/pay-release-options": {
            "get": {
                "summary": "List all Pay release options",
                "description": "used in select/list\n*Page 3_Account_TeamProfile_PayRun (Interval select)\n",
                "tags": [
                    "Payroll"
                ],
                "responses": {
                    "200": {
                        "description": "Pay Interval Release List",
                        "schema": {
                            "$ref": "#/definitions/PayrollReleaseOptions"
                        }
                    }
                }
            }
        },
        "/tax-entity-type-options": {
            "get": {
                "summary": "List all Tax entity Type",
                "description": "used in select/list\n*Page 3_Account_TeamProfile_Tax (Entity Type Select)\n",
                "tags": [
                    "Entity",
                    "Tax"
                ],
                "responses": {
                    "200": {
                        "description": "Tax Entity Type List",
                        "schema": {
                            "$ref": "#/definitions/TaxEntityTypeOptions"
                        }
                    }
                }
            }
        },
        "/tax-reporting-options": {
            "get": {
                "summary": "List all Tax Reporting Option",
                "description": "used in select/list\n*Page 3_Account_TeamProfile_Tax (Reporting Period Select)\n",
                "tags": [
                    "Reporting",
                    "Tax"
                ],
                "responses": {
                    "200": {
                        "description": "Tax Reporting Option",
                        "schema": {
                            "$ref": "#/definitions/TaxReportingOptions"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "TeamMemberShift": {
            "properties": {
                "user_id": {
                    "type": "integer",
                    "description": "User ID."
                },
                "team_shift_assigned_id": {
                    "type": "integer",
                    "description": "Shift ID."
                },
                "role_name": {
                    "type": "string",
                    "description": "User last name."
                },
                "shift_current_time": {
                    "type": "string",
                    "description": "Shift details."
                },
                "user_name_last": {
                    "type": "string",
                    "description": "User last name."
                },
                "user_name_first": {
                    "type": "string",
                    "description": "User first name."
                },
                "user_email": {
                    "type": "string",
                    "description": "User email."
                },
                "user_iconurl": {
                    "type": "string",
                    "description": "User Icon URL."
                },
                "user_phone": {
                    "type": "string",
                    "description": "User Phone Number."
                },
                "shift_status": {
                    "type": "string",
                    "description": "indicated they have started their shift."
                }
            }
        },
        "UserProfile": {
            "properties": {
                "user_id": {
                    "type": "integer",
                    "description": "User ID."
                },
                "user_name_last": {
                    "type": "string",
                    "description": "User last name."
                },
                "user_name_first": {
                    "type": "string",
                    "description": "User first name."
                },
                "user_email": {
                    "type": "string",
                    "description": "User email."
                },
                "user_dob": {
                    "type": "string",
                    "description": "User Date of Birth."
                },
                "user_iconurl": {
                    "type": "string",
                    "description": "User Icon URL."
                },
                "user_status": {
                    "type": "string",
                    "description": "User Status."
                },
                "user_phone": {
                    "type": "string",
                    "description": "User Phone Number."
                },
                "address": {
                    "type": "array",
                    "description": "Full address of the user.",
                    "items": {
                        "$ref": "#/definitions/UserAddress"
                    }
                }
            }
        },
        "TeamOwnProfile": {
            "properties": {
                "team_id": {
                    "type": "integer",
                    "description": "Team ID."
                },
                "team_name": {
                    "type": "string",
                    "description": "Business name of the team."
                },
                "team_iconurl": {
                    "type": "string",
                    "description": "Icon URL/Thumbnail of the team."
                },
                "user_name_last": {
                    "type": "string",
                    "description": "Team last name."
                },
                "user_name_first": {
                    "type": "string",
                    "description": "Team first name."
                },
                "team_email": {
                    "type": "string",
                    "description": "Team email."
                },
                "team_phone": {
                    "type": "string",
                    "description": "Team phone number."
                },
                "industry_id": {
                    "type": "string",
                    "description": "Team industry."
                },
                "team_abn": {
                    "type": "string",
                    "description": "Team ABN number."
                },
                "team_acn": {
                    "type": "string",
                    "description": "Team ACN number."
                },
                "team_contact_email": {
                    "type": "string",
                    "description": "Team contact email."
                },
                "team_contact_name": {
                    "type": "string",
                    "description": "Team contact phone."
                },
                "payroll_interval_id": {
                    "type": "integer",
                    "description": "Team payroll interval id."
                },
                "payroll_approval_id": {
                    "type": "integer",
                    "description": "Team payroll approval id."
                },
                "payroll_release_id": {
                    "type": "integer",
                    "description": "Team payroll release id."
                },
                "tax_entity_id": {
                    "type": "integer",
                    "description": "Team tax entity id."
                },
                "tax_reporting_id": {
                    "type": "integer",
                    "description": "Team tax reporting id."
                },
                "team_tax_gst": {
                    "type": "integer",
                    "description": "Team tax gst."
                },
                "team_tax_payrolltax": {
                    "type": "integer",
                    "description": "Team tax payroll tax."
                },
                "address": {
                    "type": "array",
                    "description": "Full address of the team.",
                    "items": {
                        "$ref": "#/definitions/TeamAddress"
                    }
                }
            }
        },
        "TeamMemberShifts": {
            "properties": {
                "team_shift_assigned_id": {
                    "type": "integer"
                },
                "team_id": {
                    "type": "integer"
                },
                "team_member_id": {
                    "type": "integer"
                },
                "location_id": {
                    "type": "integer"
                },
                "role_id": {
                    "type": "integer"
                },
                "start_date": {
                    "type": "object",
                    "description": "start date and time"
                },
                "end_date": {
                    "type": "object",
                    "description": "end date and time"
                },
                "note": {
                    "type": "string",
                    "description": "notes for the shift"
                }
            }
        },
        "TeamShifts": {
            "properties": {
                "team_shift_id": {
                    "type": "integer"
                },
                "team_id": {
                    "type": "integer"
                },
                "location_id": {
                    "type": "integer"
                },
                "role_id": {
                    "type": "integer"
                },
                "team_shift_time_start": {
                    "type": "string",
                    "description": "start date and time"
                },
                "team_shift_time_end": {
                    "type": "string",
                    "description": "end date and time"
                },
                "team_shift_repeat": {
                    "type": "boolean"
                },
                "notes": {
                    "type": "string"
                }
            }
        },
        "TeamShiftsMonth": {
            "properties": {
                "team_shift_id": {
                    "type": "integer"
                },
                "date": {
                    "type": "object",
                    "description": "start date and time"
                },
                "count": {
                    "type": "integer",
                    "description": "shift counts"
                },
                "publish": {
                    "type": "integer"
                }
            }
        },
        "Unavailability": {
            "properties": {
                "team_member_unavailability_id": {
                    "type": "integer",
                    "description": "unavailability id"
                },
                "team_member_unavailability_date_start": {
                    "type": "string",
                    "description": "start date and time"
                },
                "team_member_unavailability_date_endv": {
                    "type": "string",
                    "description": "end date and time"
                },
                "team_member_id": {
                    "type": "integer",
                    "description": "team_member id"
                },
                "notes": {
                    "type": "string",
                    "description": "notes"
                },
                "team_member_unavailability_special_day": {
                    "type": "string",
                    "description": "special day"
                },
                "team_member_unavailability_fullday": {
                    "type": "boolean",
                    "description": "Fullday or not"
                }
            }
        },
        "Documents": {
            "properties": {
                "user_document_id": {
                    "type": "integer"
                },
                "user_document_name": {
                    "type": "string",
                    "description": "Document name"
                },
                "user_document_issuer": {
                    "type": "string",
                    "description": "Document issuer"
                },
                "user_document_expiry": {
                    "type": "string",
                    "description": "Document expiry"
                }
            }
        },
        "DocumentPages": {
            "properties": {
                "user_document_page_id": {
                    "type": "integer"
                },
                "user_document_page_url": {
                    "type": "string",
                    "description": "Document page url"
                },
                "user_document_sort": {
                    "type": "string",
                    "description": "Document page order"
                },
                "user_document_id": {
                    "type": "string",
                    "description": "Document id"
                }
            }
        },
        "DocumentShared": {
            "properties": {
                "user_document_share_id": {
                    "type": "integer"
                },
                "user_document_id": {
                    "type": "integer",
                    "description": "Document ID"
                },
                "team_id": {
                    "type": "string",
                    "description": "Team ID"
                }
            }
        },
        "Bank": {
            "properties": {
                "bank_id": {
                    "type": "integer"
                },
                "bank_status": {
                    "type": "string",
                    "description": "Status"
                },
                "bank_name": {
                    "type": "string",
                    "description": "Bank Short Name"
                },
                "bank_fullname": {
                    "type": "string",
                    "description": "Bank Fullname"
                },
                "bank_description": {
                    "type": "string",
                    "description": "Bank Description"
                },
                "bank_iconurl": {
                    "type": "string",
                    "description": "Bank Icon"
                }
            }
        },
        "UserBank": {
            "properties": {
                "user_bank_id": {
                    "type": "integer"
                },
                "bank_id": {
                    "type": "integer",
                    "description": "Bank ID"
                },
                "user_id": {
                    "type": "integer",
                    "description": "User ID"
                },
                "user_bank_status": {
                    "type": "string",
                    "description": "Status"
                },
                "user_bank_name": {
                    "type": "string",
                    "description": "Bank Label"
                },
                "user_bank_bsb": {
                    "type": "string",
                    "description": "Bank BSB"
                },
                "user_bank_number": {
                    "type": "string",
                    "description": "Bank Number"
                },
                "created_at": {
                    "type": "string",
                    "description": "Create at"
                }
            }
        },
        "BankAllotment": {
            "properties": {
                "user_bank_allotment_id": {
                    "type": "integer"
                },
                "user_bank_id": {
                    "type": "integer",
                    "description": "User Bank ID"
                },
                "team_id": {
                    "type": "integer",
                    "description": "Team ID"
                },
                "user_bank_allotment_percent": {
                    "type": "string",
                    "description": "Percent Bank Allotment"
                },
                "user_bank_allotment_fixed": {
                    "type": "string",
                    "description": "Fixed Bank Allotment"
                },
                "pay_type": {
                    "type": "string",
                    "description": "Pay Type"
                }
            }
        },
        "SuperFund": {
            "properties": {
                "superfund_id": {
                    "type": "integer"
                },
                "superfund_name": {
                    "type": "string",
                    "description": "Status"
                },
                "superfund_description": {
                    "type": "string",
                    "description": "SuperFund Description"
                }
            }
        },
        "UserSuperFund": {
            "properties": {
                "user_superfund_id": {
                    "type": "integer"
                },
                "superfund_id": {
                    "type": "integer"
                },
                "user_superfund_number": {
                    "type": "string",
                    "description": "Suprtfund Number"
                },
                "user_superfund_status": {
                    "type": "string",
                    "description": "Status"
                }
            }
        },
        "UserTeamSuperFund": {
            "properties": {
                "user_team_superfund_id": {
                    "type": "integer"
                },
                "user_superfund_id": {
                    "type": "integer"
                },
                "team_id": {
                    "type": "integer"
                },
                "team_name": {
                    "type": "string"
                },
                "user_superfund_status": {
                    "type": "string",
                    "description": "Status"
                }
            }
        },
        "Accounts": {
            "properties": {
                "acount_id": {
                    "type": "integer",
                    "description": "ID of the account, either id of the team of id of the user."
                },
                "display_name": {
                    "type": "string",
                    "description": "Display name of the account."
                },
                "icon_url": {
                    "type": "string",
                    "description": "thumbnail of the account."
                },
                "account_type": {
                    "type": "string",
                    "description": "Account Type(User, Own Team, Team)."
                }
            }
        },
        "TeamAddress": {
            "properties": {
                "team_address_line1": {
                    "type": "string",
                    "description": "Team current address line one"
                },
                "team_address_line2": {
                    "type": "string",
                    "description": "Team current address line two"
                },
                "team_address_city": {
                    "type": "string",
                    "description": "Team current city"
                },
                "team_postcode": {
                    "type": "string",
                    "description": "Team current postcode"
                },
                "team_state": {
                    "type": "string",
                    "description": "Team current state/province"
                },
                "country_id": {
                    "type": "string",
                    "description": "Team current country"
                }
            }
        },
        "UserAddress": {
            "properties": {
                "user_address_line1": {
                    "type": "string",
                    "description": "User current address line one"
                },
                "user_address_line2": {
                    "type": "string",
                    "description": "User current address line two"
                },
                "user_address_city": {
                    "type": "string",
                    "description": "User current city"
                },
                "user_postcode": {
                    "type": "string",
                    "description": "User current postcode"
                },
                "user_state": {
                    "type": "string",
                    "description": "User current state/province"
                },
                "country_id": {
                    "type": "string",
                    "description": "User current country"
                }
            }
        },
        "Industries": {
            "properties": {
                "industry_id": {
                    "type": "string",
                    "description": "Industry ID"
                },
                "industry_name": {
                    "type": "string",
                    "description": "Industry Name"
                },
                "industry_code": {
                    "type": "string",
                    "description": "Industry CODE"
                },
                "industry_description": {
                    "type": "string",
                    "description": "Industry description"
                }
            }
        },
        "PayrollApprovalOptions": {
            "properties": {
                "payroll_approval_id": {
                    "type": "string"
                },
                "payroll_approval_name": {
                    "type": "string",
                    "description": "Short name for the payroll approval timing"
                }
            }
        },
        "PayrollIntervalOptions": {
            "properties": {
                "payroll_interval_id": {
                    "type": "string"
                },
                "payroll_interval_name": {
                    "type": "string",
                    "description": "Short name for the payroll interval"
                }
            }
        },
        "PayrollReleaseOptions": {
            "properties": {
                "payroll_release_id": {
                    "type": "string"
                },
                "payroll_release_name": {
                    "type": "string",
                    "description": "Short name for the payroll release"
                }
            }
        },
        "TaxEntityTypeOptions": {
            "properties": {
                "tax_entity_id": {
                    "type": "string"
                },
                "tax_entity_name": {
                    "type": "string",
                    "description": "Entity Type"
                }
            }
        },
        "TaxReportingOptions": {
            "properties": {
                "entity_type_id": {
                    "type": "string"
                },
                "entity_type_name": {
                    "type": "string",
                    "description": "Entity Type"
                }
            }
        },
        "Locations": {
            "properties": {
                "location_id": {
                    "type": "integer"
                },
                "team_member_location_id": {
                    "type": "integer"
                },
                "team_member_location_name": {
                    "type": "string",
                    "description": "Location name"
                }
            }
        },
        "Role": {
            "properties": {
                "team_member_role_id": {
                    "type": "integer"
                },
                "team_member_id": {
                    "type": "integer"
                },
                "role_id": {
                    "type": "integer"
                }
            }
        },
        "RoleDetails": {
            "properties": {
                "team_member_role_id": {
                    "type": "integer"
                },
                "team_member_id": {
                    "type": "integer"
                },
                "last_shift": {
                    "type": "string"
                },
                "first_shift": {
                    "type": "string"
                },
                "payroll_variations": {
                    "type": "string"
                }
            }
        },
        "RoleVariation": {
            "properties": {
                "team_member_role_variations_id": {
                    "type": "integer"
                },
                "team_member_role_id": {
                    "type": "integer"
                },
                "variations_type": {
                    "type": "string"
                },
                "variations_value": {
                    "type": "string"
                }
            }
        },
        "Note": {
            "properties": {
                "team_member_notes_id": {
                    "type": "integer"
                },
                "team_member_id": {
                    "type": "integer"
                },
                "to_user_id": {
                    "type": "integer"
                },
                "location_id": {
                    "type": "integer"
                },
                "team_shift_id": {
                    "type": "integer"
                },
                "team_member_notes": {
                    "type": "string",
                    "description": "Notes"
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}
